ul {
    padding: 10px 0;
    list-style-type: none;
}

.error {
    border: 1px solid brown;
}

.error-message {
    color: brown;
}

.active-filter {
    background-color: brown;
}

.task__status_is-done {
    opacity: 0.5;
}