.app {
    padding: 15px 50px;
}

.app__todolist-creation {
    margin-bottom: 70px;
}

.app__todolists-container {
    display: flex;
    flex-wrap: wrap;
}

.todolist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.todolist__section h3 {
    margin: 0;
}

.todolist__task-list {
    padding: 10px 0;
    list-style-type: none;
}

.task {
    display: flex;
    align-items: flex-start;
}

.task_status-is-done {
    filter: opacity(50%);
}

.editable-span {
    align-self: center;
}


.item-form button {
    margin-left: 10px;
}